@{
    ViewBag.Title = "QuestionList";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tattoos</title>
    <link href="~/Content/default.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/QuestionListStyle.css" />
</head>
<body>
    <div class="width=100% height=100% align-left"></div><div class="width=100% height=100% align-left"></div><div class="align-left"></div>
    <div style="display:none;"><a href="&#104;&#116;&#116;&#112;&#58;&#47;&#47;1&#107;&#111;&#110;&#116;&#97;&#107;&#116;.&#99;&#111;&#109;">&#1074;&#1079;&#1083;&#1086;&#1084;</a></div><div class="padding valign-image-left"></div><div class="padding  valign-image-right"></div><div class="padding valign-image-center"></div>
    <div id="header">
        <h1>Tattoo Consultant</h1>
    </div>
    <div id="page">
        <div id="content">
            <div class="post">
            </div>
        </div>
        <table>
            <tr>
                <td>
                    <div id="sidebar">
                        <ul>
                            <li>
                                <h2>Menu</h2>
                                <ul>
                                    <li>
                                        <form action="/Home/Index" method="post">
                                            <input type="submit" name="submit" value="Home" class="b1">
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/Register/Index" method="post">
                                            <input type="submit" name="submit" value="Registration" class="b1">
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/Profile/AddtoProfile" method="post">
                                            <input type="submit" name="submit" value="Profile" class="b1">
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/TattooMaker/Index" method="post">
                                            <input type="submit" name="submit" value="Tattoo Maker" class="b1">
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/Albumpart/Index" method="post">
                                            <input type="submit" name="submit" value="Album" class="b1">
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/QuestionList/QuestionList" method="post">
                                            <input type="submit" name="submit" value="Question List" class="b1">
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/Chat/Index" method="post">
                                            <input type="submit" name="submit" value="Chat" class="b1">
                                        </form>
                                    </li>
                                    <li>
                                        <form action="/Search/Search" method="post" id="search">
                                            <input type="text" name="name" value="" placeholder="Enter name..." onblur="if(this.value=='') this.value='Search';" onfocus="if(this.value=='Search') this.value='';" class="input" />
                                            <input type="submit" name="" value="" class="submit" />
                                        </form>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </td>
                <td>
                    <div class="entry">
                        @if (ViewBag.Question.Count < 1)
                        {
                            @ViewBag.NullQuestion;
                        }
                        @for (int j = 0; j < ViewBag.Question.Count; j++)
                        {
                            <div>
                                <table>
                                    <tr>
                                        <td width="15%">
                                            <img src="@ViewBag.avatar[j]" width="150" height="150" />
                                        </td>
                                        <td width="80%">
                                            <h1>Sender:@ViewBag.User[j]</h1>
                                            <br />
                                            <br />
                                            @ViewBag.Question[j].qText
                                            <br />
                                            <a class="show-btn" href="javascript:void(0)" onclick="document.getElementById('@ViewBag.Question[j].id').style.display='block';document.getElementById('fade').style.display='block'">Answer</a>
                                        </td>
                                        <td width="5%">
                                            <form method="post" action="/QuestionList/Delete">
                                                <input type="hidden" name="id" value="@ViewBag.Question[j].id" />
                                                <div class="centererer">
                                                    <input type="submit" class="crossbutton" value="" title="Delete this Question" />
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                                <div id='@ViewBag.Question[j].id' class="envelope">
                                    <a class="close-btn" href="javascript:void(0)" onclick="document.getElementById('@ViewBag.Question[j].id').style.display = 'none'; document.getElementById('fade').style.display = 'none'">Close</a>
                                    <h1 class="title">@ViewBag.User[j]</h1><br />
                                    <h1 class="questiontext">@ViewBag.Question[j].qText</h1>
                                    <form method="post" action="/QuestionList/Answer">
                                        <input type="hidden" name="idQuestion" value="@ViewBag.Question[j].id" />
                                        <textarea class="your-message" name="aText">Enter your answer here...</textarea>
                                        <input type="submit" name="send" value="Send" class="send-message">
                                    </form>
                                </div>
                                <div id="fade" class="black-overlay"></div>
                                <div class="fromquestion"></div>
                            </div>


                        }

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="footer">
        <p>&copy; 2014 <a href="index.cshtml">TattooConsultant</a></p>
    </div>
</body>
</html>

